<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giphy_api_key</key>
	<string>dc6zaTOxFJmzC</string>
	<key>bitly_token</key>
	<string>4d80112e45e7c6c32d055e2ea9e0ceb87c593374</string>
	<key>base_url</key>
	<string>http://192.168.10.116:8080</string>
	<key>google_client_id</key>
	<string>428168563991-kjkqs31gov2lmgh05ajbhcpi7bkpuop7.apps.googleusercontent.com</string>
	<key>google_client_secret</key>
	<string>1H_GukkECmZb8ElXEmEGuWh8</string>
</dict>
</plist>
